html {
  scroll-behavior: smooth;
}

#home {
  min-height: 100vh;
}

#about {
  min-height: 100vh;
}

.proficient {
  border: 2px solid rgb(32, 229, 132);
  background-color: #4decbc15;
}

.intermediate {
  border: 2px solid rgb(216, 216, 17);
  background-color: #dbdca826;
}

.beginner {
  border: 2px solid gray;
  background-color: #b6bbbb26;
}

.ending-msg {
  background-color: rgb(32, 229, 132);
  width: 100%;
}
