html {
  scroll-behavior: smooth;
}

#home {
  min-height: 100vh;
}

#about {
  min-height: 100vh;
}

.about-info > a {
  color: #3b82f6;
}

.proficient {
  border: 2px solid rgb(0, 140, 255);
  background-color: #4dacec15;
}

.intermediate {
  border: 2px solid rgb(216, 216, 17);
  background-color: #dbdca826;
}

.beginner {
  border: 2px solid gray;
  background-color: #b6bbbb26;
}

.ending-msg {
  background-color: rgb(0, 140, 255);
  color: #fff;
  width: 100%;
}
