.navbar {
  background-color: #fff;
  width: 100%;
  z-index: 500;
  position: fixed;
}

.first {
  color: rgb(32, 229, 132);
}

.last {
  color: rgb(77, 77, 77);
}

.nav-link {
  color: rgb(77, 77, 77);
}

.nav-link:hover {
  color: rgb(20, 20, 20);
}
